{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<car id="car" class="carousel slide position-absolute top-0 start-0">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/images/carousel/group-friends-celebrating-new-year-concept.jpg" class="d-block car-image" alt="...">
            <div class="carousel-caption d-none d-md-block">

                <small>
                    Images by <a href="https://www.freepik.com/free-photo/group-friends-celebrating-new-year-concept_10757045.htm#page=2&query=friends%20celebrating&position=12&from_view=search&track=ais&uuid=86bc1f99-84d2-499a-b614-ecd051f445c0">Freepik</a> 
                </small> 

            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/images/carousel/group-friends-posing-party.jpg" class="d-block car-image" alt="...">
            <div class="carousel-caption d-none d-md-block">

                <small>
                    Image by <a href="https://www.freepik.com/free-photo/group-friends-posing-party_5037960.htm#page=2&query=friends%20celebrating&position=15&from_view=search&track=ais&uuid=86bc1f99-84d2-499a-b614-ecd051f445c0">Freepik</a>
                </small> 

            </div>

        </div>
        <div class="carousel-item">
            <img src="../static/images/carousel/young-people-taking-selfie-together.jpg" class="d-block car-image" alt="...">
            <div class="carousel-caption d-none d-md-block">

                <small style="position: absolute; color: black;">
                    Image by <a href="https://www.freepik.com/free-photo/young-people-taking-selfie-together_5356128.htm#page=2&query=friends%20celebrating&position=21&from_view=search&track=ais&uuid=86bc1f99-84d2-499a-b614-ecd051f445c0">Freepik</a>
                </small> 
            </div>

        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#car" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#car" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</car>


<script src="../static/carousel.js"></script>

{% endblock %}