<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Piggy/Split: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="/static/favicon/favicon.ico" rel="icon">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
        <style>
            body {
              font-family: "Trebuchet MS", Helvetica, sans-serif;
            }

            .car-image {
                height: 100dvh;
                width: 100dvw;
                object-fit: contain;
            }
        </style>
        <script src="/static/theme.js"></script>
    </head>

    <body class="position-relative">

        <nav class="navbar border navbar-expand-lg sticky-top bg-body-tertiary" style="padding: 0.75rem; width: 100%;">

            <div class="container-fluid">
                
                <a class="navbar-brand me-5" href="/">
                    <img src="../static/images/logo.jpg" alt="piggysplit logo" height="50">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">         
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse nav-underline navbar-collapse" id="navbarSupportedContent">
                    
                    <div class="navbar-nav mb-2 mb-lg-0">

                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class="nav-link" href="/">Home</a>
                        </div>
                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class="nav-link" href="/trips">Trips</a>
                        </div>
                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class="nav-link" href="/participants">Participants</a>
                        </div>
                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class="nav-link" href="/costs_selection">Costs</a>
                        </div>
                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class="nav-link" href="/payments">Payments</a>
                        </div>
                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class="nav-link" href="/results_selection">Result</a>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class= "nav-link" href="/register">Register</a>
                        </div>

                        {% if session["user_id"] %}
                        
                        <div class="nav-item ms-auto mt-2 mt-lg-0 d-flex">
                            <a class= "nav-link" href="/logout">Log Out</a>
                            <span class="navbar-brand mx-2">{{session["username"]}}</span>
                        </div>
                        
                        {% else %}

                        <div class="nav-item ms-auto mt-2 mt-lg-0">
                            <a class="nav-link" href="/login">Log In</a>
                        </div>
                        
                        {% endif %}

                        
                    </div>
                    
                    <button onclick="chgTheme()">T</button>

                </div>

            </div>

        </nav>

        <header class="position-absolute w-100">
            {% if get_flashed_messages() %}
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
                {% endif %}
        </header>
            
        <main class="d-flex flex-column align-items-center mt-5">
            {% block main %}
            {% endblock %} 
        </main>
            
        <script src="/static/navbar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    </body>
        
</html>