{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="rounded card shadow w-100 p-4">
    <form action="/login" method="post" class="">
        <div class="mb-3">
            <label for="username" class="form-label mb-0"> Name </label>
            <input id="username" required autocomplete="off" autofocus class="form-control" name="username" placeholder="Username"
            type="text">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label mb-0"> Password </label>
            <input required id="password" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="mt-4 text-center">
            <input type="button" class="btn btn-primary" type="submit" value="Log In">
        </div>
    </form>
</div>
    {% endblock %}