{% extends "layout.html" %}

{% block title %}
    Payments
{% endblock %}

{% block main %}

{{users_trips}}

<form>
    <select onchange="submit_trip(event)" required class="form-select" aria-label="Trip Selection" name="trip">
        <option disabled selected>Select Trip</option>
        {% for users_trip in users_trips %}
        <option value="{{users_trip.trip_id}}">{{users_trip.trip_title}}</option>
        {% endfor %}
    </select>
</form>

<div class="my-5" id="payment_details_area">
    <!-- <h5>${trip_descrip}</h5>
    <form >
        <input >
        <select>
            {% for participant in participants %}
            <option>{{participant.username}}</option>
            {% endfor %}
        </select>
        <input>
    </form> -->
</div>

<script>

function submit_trip(event) {
    const trip_id = event.target.value
    fetch_trip(trip_id)
}

function place_trips_details(data) {

    const {closed, owner_id, trip_descrip, trip_id, trip_title} = data.trip_data
    const participants = data.participants_data
    payment_details_area = document.getElementById("payment_details_area")
    payment_details_area.innerHTML = `
    <div>
        <div class="my-5" id="payment_details_area">
            <h5>${trip_descrip}</h5>
            <form>
                <input>
                <select id="participant_options">
                </select>
                <input>
            </form>
        </div>
    </div>`
    participant_options = document.getElementById("participant_options")
    participants.forEach(participant => {
        participant_options.innerHTML += `
                        <option>${participant.username}</option>
                        `
        })
}   


function fetch_trip(trip_id) {
    fetch('/trip_payments', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ "trip_id": trip_id })
    })
    .then(response => response.json())
    .then(data => place_trips_details(data))
    .catch(error => console.error(error));
}

</script>

{% endblock %}