{% extends "layout.html" %}

{% block title %}
    Payments
{% endblock %}

{% block main %}

<form>
    <select onchange="submit_trip(event)" required class="form-select" aria-label="Trip Selection" name="trip">
        <option disabled selected>Select Trip</option>
        {% for users_trip in users_trips %}
        <option value="{{users_trip.trip_id}}">{{users_trip.trip_title}}</option>
        {% endfor %}
    </select>
</form>

<div hidden id="payment_form_area" class="my-3">
    <h5 class="text-center mb-5" id="trip_desc_area"></h5>
    <form onsubmit="submit_payment(event)" class="d-flex" method="post">
        <input hidden id="trip_id_area" name="trip_id">
        <textarea aria-label="Payment Details" class="form-control" name="payment_desc" placeholder="Payment Details" rows="1"></textarea>
        <input class="form-control" name="payment_amount" type="number" step=".01">
        <select class="form-select mx-1" aria-label="participant Selection" name="participant_id" id="participant_options">
        </select>
        <input class="btn btn-outline-primary" type="submit">
    </form>
</div>

<div hidden id="payment_details_table" class="my-3">
    <table class="table caption-top table-striped">
        <caption style="text-align: center;">
            <h5>Recorded Payments</h5>
        </caption>
        <thead>
            <tr>
                <th scope="col">Paid to</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-end">Amount</th>
                <th scope="col">Paid by</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="payment_details_area">
        </tbody>
    </table>
</div>

<script src="/static/payments_page.js"></script>

{% endblock %}