{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="rounded card shadow p-4">

    <form action="/register" method="post">
        
        <div class="mb-3">
            <label for="username" class="form-label mb-0"> User Name </label>
            <input required id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label mb-0"> Password </label>
            <input required id="password" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        
        <div class="mb-3">
            <label for="passwordcon" class="form-label mb-0"> Confirm Password </label>
            <input required id="passwordcon" class="form-control mx-auto w-auto" id="pswcon" class="form-control" name="confirmation" placeholder="Re-enter Password" type="password">
        </div>

        <div class="mt-4 text-center">
            <button disabled id="register_button" class="btn btn-primary btn-lg" aria-label="submit" type="submit">Register</button>
        </div>

    </form>
</div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {

            function enablebutton() {

                let value1 = document.getElementById("pswcon").value;
                let value2 = document.getElementById("psw").value;
                let rel_button = document.getElementById("register_button")

                if (value1) {
                    if (value1 == value2) {
                        rel_button.disabled = false
                    } else {
                        rel_button.disabled = true
                    }
                }
            }

            document.getElementById("pswcon").addEventListener("keyup", enablebutton)
            document.getElementById("psw").addEventListener("keyup", enablebutton)

        })
    </script>

{% endblock %}
