{% import 'selection_screen.jinja' as selection %}
{% extends "layout.html" %}

{% block title %}
    Trips
{% endblock %}

{% block main %}

<div>

    <form action="/create" method="post">
        
        <div class="mb-3">
            <input aria-label="Trip Name" required autocomplete="off" autofocus class="form-control" name="tripname" placeholder="Trip Name" type="text">
        </div>

        <div class="mb-3">
            <textarea aria-label="Trip Description" class="form-control" name="tripdesc" placeholder="Trip Description" rows="4"></textarea>
        </div>
        <div class="text-center">
            <button aria-label="submit" class="btn btn-primary" type="submit">Create Trip</button>
        </div>
    
    </form>

    <div class="mt-5">
        {{selection.trip_select(current_trips)}}
    </div>
</div>
{% endblock %}
