{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}

<h1>{{selected_trip.trip_title}}</h1>

    <div>

        <form action="/select" method="post">
            {% for friend in friends %}
            
            <div class="form-check">
                <input class="form-check-input participant-checkbox" name="participants[]" type="checkbox" value="{{friend.id}}" id="checkbox-{{friend.id}}">
                <label class="form-check-label" for="checkbox-{{friend.id}}">
                    {{friend.username}}
                </label>
            </div>
            
            {% endfor %}

            <input hidden aria-hidden="true" name="trip_id" value="{{selected_trip.trip_id}}">
            
            <div class="mt-4 text-center">
                <button class="btn btn-primary btn-lg" aria-label="add participants" type="submit">Add</button>
            </div>
            
        </form>

    </div>

    <div class="m-5">
          
        <h3>Added Participants</h3>
        
        {% for participant in participants %}

            <form action="/remove" method="post" class="d-flex justify-content-between align-items-center">

                <input hidden aria-hidden="true" name="relationship_id" value="{{participant.relationship_id}}">
                <input hidden aria-hidden="true" name="trip_id" value="{{selected_trip.trip_id}}">
                <label hidden class="added-participants">{{participant.id}}</label>
                <h4>
                    {{participant.username}}
                </h4>

                <button type="submit" class="btn-close" aria-label="Remove"></button>

            </form>
            
        {% endfor %}

    </div>

    <div>
        <form action="/costs" method="get">
            <input name="trip_id" value="{{selected_trip.trip_id}}" hidden>
            <button type="submit" class="btn btn-primary btn-lg">
                Add Costs
            </button>
        </form>
    </div>

<script>
    
    function updateCheckboxes() {

        let participants = document.querySelectorAll(".added-participants")

        participants.forEach(participant => {
            document.getElementById(`checkbox-${(participant.innerText).trim()}`).checked = true;
        });
    }

    updateCheckboxes() 

</script>

{% endblock %}